/* general styles */

p {
	font-size: 16px;	
}

h1 {
	font-size: 34px;
	line-height: 54px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

.light {
	font-weight: 400;
}

form .row {
	margin-bottom: 20px;
}

#page {
	
}

.item {
	
}

.item.header {
	padding-bottom: 50px;
}

.item.content, .item.portfolio, .item.team, .item.pricing, .item.contact {
	padding-top: 60px;
	padding-bottom: 60px;
}

.item.footer {
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.padding-top-0 {
	padding-top: 0px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}

.padding-top-100 {
	padding-top: 180px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-bottom-0 {
	padding-bottom: 0px !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.width-100 {
	width: 100%;
}

header .navbar.plain li.active a {
	color: #1ABC9C;
}

header .navbar-white {
	background: #fff;
}

header .navbar-white a {
	color: #3D566E;
}


/* videos */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videoWrapper > .frameCover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: none;
}

.big{
	width: 110px;
	height: 200px;
}

.cable {
	padding-top: 30px;
	width: 122px;
}

.well1 {
	
        /*background: transparent url('../img/pattern.png') repeat top left;*/
        /*background-color: rgba(52, 152, 219, 0.82);*/
        background-color: rgba(111, 161, 194, 0.82);
}

object .pole {
	/*width: 100%;*/
	/*height: 100px;*/
	padding-top: 20px;	
}

div .nopadding{
	padding-right: 0px;
	padding-left: 0px;
}


div .toppadding{
    padding-top: 50px;    
}

div .larger-cable{
    padding-top: 200px; 
    position: absolute; 
    z-index: 1;
    width: 370px;      
}

div .larger-cable.cable1{
    left: 625px;
    top: 160px;
    behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(130deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(130deg);
    /* Opera */
    -o-transform:rotate(130deg);
    /* IE9 */
    -ms-transform:rotate(130deg);
    /* IE6,IE7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; 
}

div .larger-cable.cable2{
    left: 730px;
    top: 160px;
    behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(130deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(130deg);
    /* Opera */
    -o-transform:rotate(130deg);
    /* IE9 */
    -ms-transform:rotate(130deg);
    /* IE6,IE7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; 
}

div .larger-cable.cable3{
    width: 300px;
    left: 610px;
    top: 330px;
    behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(65deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(65deg);
    /* Opera */
    -o-transform:rotate(65deg);
    /* IE9 */
    -ms-transform:rotate(65deg);
    /* IE6,IE7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; 
}

div .larger-cable.cable4{
    width: 300px;
    left: 720px;
    top: 330px;
    behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(65deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(65deg);
    /* Opera */
    -o-transform:rotate(65deg);
    /* IE9 */
    -ms-transform:rotate(65deg);
    /* IE6,IE7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; 
}   